#detailPic {
  .slider-slide {
    background: $royal;
    
    .item.detailInfo {
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      color: #D6D6D7;
      font-size: 14px;
      border: none;
      padding: 0;
      background: none;
      div {
        @include flex(1);
        @include display-flex;
        @include align-items(center);

        span:nth-of-type(1) {
          padding-bottom: 10px;
          margin-top: 10px;
          border-bottom: 1px solid #EFEDFF;
        };

        b.lines {
          margin: 0 10px;
          color: DCDCDC;
          display: block;
          height: 10px;
          width: 1px;
          background: #DCDCDC;
          border-left: 1px solid #363A58;
          border-right: 1px solid #B9B9C0;
        }
      }

      span {
        i {
          color: #D6D6D7;
        }
        b {
          font-weight: normal;
          margin-left: 8px;
        }
      };
    }

    .picBox {
      height: 100%;
      width: 100%;
      padding: 13px;
      font-size: 14px;

      h1 {
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 18px;
      }

      p {
        color: #DCDCDC;
      }

      p.white {
        color: #DCDCDC;
        margin-top: 12px;
        line-height: 24px;
      }

      img {
        display: block;
        width: 100%;
        padding: 12px 0;
      }

      span.imgTitle {
        display: block;
        width: 100%;
        text-align: center;
        color: #DCDCDC;
      }
    }
  }

  .slider-pager {
    span {
      color: #fff;
    }
  }

  .bar-footer {
    height: auto;
    min-height: 44px;
    background: #212759;
    @include display-flex;
    @include align-items(center);

    textarea {
      @include flex(1);
      height: 30px;
      margin: 0 6px 0 11px;
      border: 1px solid #9093A7;
      background: #212759;
      line-height: 22px;
      text-indent: 12px;
      @include border-radius(5px);
      @include placeholder(#DCDCDC,12px);
      resize: none;
    }

    div {
      width: 68px;
      padding: 0 10px;
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      color: #B8B4B8;
      font-size: 20px;

      img {
        display: block;
        width: 20px;
      }

      span {
        font-size: 14px;
        margin-left: 5px;
        color: #C5C6CC;
      }
    }

    div:nth-of-type(1) {
      border-right: 1px solid #D3D3D3;
    }

    div.setButton {
      font-size: 14px;
      color: #fff;
    }
  }
}
@keyframes height150 {
  from {
    height: 30px;
  }

  to {
    height: 150px;
  }
}
@keyframes height30 {
  from {
    height: 150px;
  }

  to {
    height: 30px;
  }
}

.height150 {
  @include animation(height150);
  @include animation-duration(.5s);
  @include animation-fill-mode(forwards);
}

.height30 {
  @include animation(height30);
  @include animation-duration(.5s);
  @include animation-fill-mode(forwards);
}
